@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:700,800|Source+Sans+Pro:300&display=swap');

.navbar {
    transition: all 0.4s;
	font-family: "Montserrat", sans-serif;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #107f35;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #107f35;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #107f35;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #107f35;
    }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-background img {
  max-width: 100%;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
  width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}


.service {
  padding: 60px 0 40px 0;
  background: #fff;
}

.service .section-header h3{
  font-size: 48px;
  color: #107f35;
  text-align: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  opacity: 50%;
}

.service .information{
	padding-top: 5em;
	position: relative;
	font-family: "Montserrat-Thin" sans-serif;
}

.service .info h4{
	font-family: "Montserrat", sans-serif;
	color: #107f35;
	padding-bottom: 1em;
	padding-top: 1.5em;
}

.service .slider1{
	padding-top: 1.5em;
}

/* 11. Pricing Area
/*----------------------------------------*/


.pricing-area {
  background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
}

.pri_table_list {
  border: 1px solid #ccc;
  text-align: center;
  transition: all 0.4s ease 0s;
  background: #fff;
}

.pri_table_list h3 span {
  font-size: 16px;
}

.pri_table_list ol li {
  border-bottom: 1px solid #ccc;
  color: #666;
  padding: 12px 15px;
  position: relative;
  text-align: center;
}

.pri_table_list li.check.cross::after {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  right: 50px;
  top: 12px;
  color: indianred;
}

.pri_table_list li.check::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  right: 50px;
  top: 12px;
  color: #3EC1D5;
}

.pri_table_list button {
  background: #107f35 none repeat scroll 0 0;
  border: 1px solid #444;
  color: #fff;
  margin-bottom: 25px;
  padding: 10px 35px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  border-radius: 30px;
}

.pri_table_list>h3 {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  padding: 30px 0 20px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

.pri_table_list ol {
  list-style: outside none none;
  margin: 0;
  padding: 0 0 25px;
}

.pri_table_list.active {
  transition: all 0.4s ease 0s;
  position: relative;
  overflow: hidden;
}

.saleon {
  background: #3EC1D5 none repeat scroll 0 0;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  left: -26px;
  padding: 2px 25px;
  position: absolute;
  text-transform: uppercase;
  top: 16px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.pri_table_list>button:hover {
  background-color: #fff;
  border: 1px solid #107f35;
  color: #107f35;
}

.active>h3 {
  background: #f5f5f5 none repeat scroll 0 0;
  color: #107f35;
  transition: all 0.4s ease 0s;
}

.active>button {
  background: #107f35 none repeat scroll 0 0;
  border: 1px solid #107f35;
  color: #fff;
  transition: 0.4s;
}

.active>button:hover {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #107f35;
  color: #107f35;
  transition: 0.4s;
}


.seat-box {
  border: 2px solid #C5BA1B;
  text-align: center;
  transition: all 0.4s ease 0s;
  background: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.card img {
  text-align: center;
  transition: all 0.4s ease 0s;
  background: #fff;
  padding: 1em 1em 1em 1em;
}

.seat-box img{
}

.name-box {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #107f35;
}

.name-box p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #107f35;
  vertical-align: center;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.aboutus-tagline {
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	text-align: center;
	line-height: 85%;
	color: #606060;
	padding-bottom: 1.5em;
}