@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:700,800|Source+Sans+Pro:300&display=swap');

.navbar {
  background-color: transparent;
  border: none;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

/* .navbar-nav {
    
    > li {
      
      > a {
        color: #107f35;
        margin: 10px 5px 5px 5px;
        
      }
      > a:hover, > a:active, > a:focus {
        color: #C5BA1B;
		padding: 10px 15px;
		  transition: 0.3s;
		  font-size: 16px;
		  font-family: "Montserrat", sans-serif;
		  text-transform: uppercase;
		  font-weight: 600;
      }

    } 

    > .active {

      > a, > a:hover, > a:focus {
        background-color: transparent;
        color: #C5BA1B;
      }

    }
 */
  /* }  */

/* .navbar-nav,
.navbar-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
} */


/* .navbar-nav a {
  display: block;
  position: relative;
  color: #107f35;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-nav a:hover,
.navbar-nav .active > a,
.navbar-nav li:hover > a {
  color: #C5BA1B;
  text-decoration: none;
}

/* Solid class attached on scroll past first section */

/* .navbar.solid {
  background-color: #606060;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

.navbar-solid .navbar-nav li > a{

            color: #107f35;
            transition: color 1s ease 0s;

}
 */ 
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 110px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: #66bb6a; 
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled a{
  color: #fff;
  transition: 0.3s;
}

#header.header-scrolled a:hover,
#header.header-scrolled .active > a,
#header.header-scrolled li:hover > a {
  color: #107f35;
  text-decoration: none;
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
  display: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */


.mynavbar li.nav-item {
  margin: 0;
  padding-left: 30px;
  margin-top: 0.5em;
  font-family: "Montserrat", sans-serif;
}

.mynavbar a{
  color: #107f35;
  display: block;
  font-weight: 600;
  transition: 0.3s;
}

.mynavbar a:hover,
.mynavbar .active > a,
.mynavbar li:hover > a {
  color: #C5BA1B;
  text-decoration: none;
}

.carousel-item img{

}


.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}


.main-nav li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav ul ul {
  top: 0;
  left: 100%;
}


/* .main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
} */


.main-nav a {
  display: inline-block;
  color: #107f35;
  padding: 0 8px 10px 20px;
  transition: 0.3s;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #C5BA1B;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #E8F6EA center top no-repeat;
  background-size: cover;
}

.content {
	padding-top: 5em;

}

.intro-info .title{
	color: #107f35;
	font-size: 98px;
	font-weight: 600;
	font-family: "Montserrat" sans-serif;

}

.intro-info .subtitle{
	color: #707070;
	font-size: 42px;
	font-family: "Montserrat-Thin" sans-serif;

}

.intro-info .subsub{
	font-size: 36px;
	font-family: "Montserrat-Thin" sans-serif;
	padding-bottom: 1em;

}

.intro-info .quote{
	color: #707070;
	padding-top: 2em;
	font-family: "Montserrat-Thin" sans-serif;
	font-style: italic;

}

.service {
  padding: 60px 0 40px 0;
}

.service .section-header h3{
  font-size: 48px;
  color: #107f35;
  text-align: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  opacity: 50%;
}

.service .information{
	padding-top: 5em;
	position: relative;
	font-family: "Montserrat-Thin" sans-serif;
}

.service .info h4{
	font-family: "Montserrat", sans-serif;
	color: #107f35;
	padding-bottom: 1em;
	padding-top: 1.5em;
}

.service .slider1{
	padding-top: 1.5em;
}


.page-section {
  padding: 4em 0;
}

.icon-sec i{
	color: #C5BA1B;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.text-muted {
	color: #C5BA1B;
	padding-top: 0.5em;
	font-family: "Montserrat", sans-serif;
}

.space{
	padding-top: 5em;
}

.room{
	padding-bottom: 5em;
}

.room-img{
	padding-top: 1.5em;
}

.room-tagline {
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	line-height: 85%;
	color: #606060;
}

.room-title {
  font-size: 48px;
  color: #107f35;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  opacity: 50%;
}

.room-info p{
	 font-family: 'Source Sans Pro', sans-serif;
	 color: #606060;
}

.space-content .btn-room {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #18d26e;
}

.space-content .btn-room:hover {
  background: #fff;
  color: #18d26e;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  width: 180px;
  height: 180px;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}


.section-bg {
  background: #E8F6EA;
}

.listmenu{
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	 color: #606060;
}

.listmenu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.listmenu .harga ul{
	text-align: center;
}

.aboutus-tagline {
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	text-align: center;
	line-height: 85%;
	color: #606060;
	padding-bottom: 1.5em;
}

/* Clients Section
--------------------------------*/

#clients {
  padding: 60px 0;
}

#clients img {
  max-width: 80%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #1bb1dc;
}

/* Payment Page
--------------------------------*/
.leftside, .rightside{
	height: 50vh;
	width: 100%
}

@media screen and (min-width: 68px){
	.leftside, .rightside{
		height: 100vh;
	}
}
